@media screen and (max-width: 450px) {
    /* CSS rules for screens with a maximum width of 768 pixels */
    .br{
        display: block;
        font-size: 5vw;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        margin: auto;
        border-radius: 0px 0px 18px 18px;
        padding: 3px 10px;
        position: absolute;
        left: 22vw;
        background-color: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(5px);
        z-index: 9999999;
        /* width: fit-content; */
        color: rgb(15, 15, 15);
        
    }
    .nav{
        /* display: flex; */
        background-color: black;
        /* border: 2px solid red; */
        margin: 0;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        align-items:center;
        z-index: 900;
    }
    .navul{
        list-style-type: none;
        color: rgb(255, 255, 255);
        padding: 10px 0px;
        margin: 0px 0px;
        padding-left: 15px;
        display: flex;
        width: 100%;
        justify-content: space-around !important;
        align-items: center;
    }
    .navulbr{
        list-style-type: none;
        color: rgb(255, 255, 255);
        padding: 10px 0px;
        margin: 0px 0px;
        padding-left: 15px;
        display: none;
    }
    .time{
        display: none;
        color: white;
        list-style: none;
        padding: 0;
        padding-right: 8px;
        margin: 0;
    }
    .cardbox{
        min-width: 300px;
    }
    .ca img{
        max-width: 100%;
    }
    .time li{
        font-size: 1em;
    }
    .time div{
        text-align: right;
    }
    .navli{
        padding: 0px 12px;
    }
    .carouselspan{
    
        margin: auto;
        color: aliceblue;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.226);
        backdrop-filter: blur(2px);
        padding: 8px;
        border-radius: 12px;
        width: 25vw;
        min-width: 280px;
        font-size: 2vh;
        
    }
    .carouselimg{
        min-width: 360px;
    }
    #carouselspan3{
        width: 45vw;
        min-width: 280px;
        text-align: Center;
        position: relative;
        left: 5vw;
        font-size: 2.5vh;
    }


    /* project page css */
    .card{
        flex-shrink: 0.1;
        flex-basis: 85%;
        max-width: 540px;
        flex-grow: 0.2;
    }
    }
    