
* {
    margin: 0;
    padding: 0;
}
.active{
    background-color: var(--activebg);
    font-weight: 500;
    color: var(--activetext);
}
.nav{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 9999999999999;
    
}
.nav nav{
    display: flex;
    /* border: 2px solid rgb(0, 47, 201); */
    justify-content: space-between;
    align-items: center;
    background-color: var(--navbg);
    color: var(--navtext);
    margin: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    align-items:center;
    justify-content: space-between;
    z-index: 999999900;

}
.nav ul{
    display: flex;
    list-style: none;
    /* border: 1px solid blue; */
    margin: 0;
    padding: 0;
}
.nav li{
    padding: 4px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.nav li:hover{
    background-color: var(--hoverbg);
    color: var(--hovertext);
}
#timebox{
    /* border: 1px solid red; */
    text-align: right;
}
.font-s{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.font-m{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    
}
.font-l{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    
}
.font-xl{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;

}
@keyframes animate {
    0%{
        width: 5vw;
        height: 2vh;
        bottom: 15px;
        left: 122px;
      
    }


    10%{
        width: 5vw;
        height: 5vh;
        left: 122px;
        background-color: white;
        z-index: 999999999999999999999999;
        
    }
    70%{
        width: 5vw;
        height: 5vh;
        bottom: 50vh;
        left: 45vw;
        background-color: white;
        z-index: 9
    }
    100%{
        width: 50vw;
        height: 72vh;
        bottom: 90px;
        left: 25vw;
    }
}
.contact{
    position: fixed;
    width: 50vw;
    height: 72vh;
    bottom: 90px;
    left: 25vw;
    z-index: 9;
    animation: animate 2s ease-in forwards;
    overflow: scroll;
}
#contcard{
    background-color: rgba(255, 255, 255, 0.685) !important;
    backdrop-filter: blur(16px);
}
