:root{
    --hoverbg: rgba(0, 62, 233, 0.801);
    --nvlinkbg: rgba(2, 51, 187, 0.801);
    --hovertext: rgb(255, 255, 255);
    --activebg: rgb(0, 38, 255);
    --activetext: white;
    --navbg: rgba(25, 29, 36, 0.822);
    --navtext: white;
}
body{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: all 2s ease-in;
}