body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
  margin: 0;
  position: relative;
  min-height: 100vh;
  padding-bottom: 60px;
  transition: background-color 0.3s ease;
  /* Space for the fixed buttons */
}

.toggle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  position: absolute;
  right: 25px;
  top: 15px;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #492061;
  box-shadow: 0px 0px 6px #ffd036;
  transition: .4s;
  border-radius: 34px;

}

.day-glow {
  background-color: #ffe19c;
  box-shadow: 0px 0px 6px #dfddfd;

}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #edcdfd;
  box-shadow: 0px 0px 8px #492061;

  transition: .4s;
  border-radius: 50%;
}

.day-glow:before {
  background-color: #ffd036;
  box-shadow: 0px 0px 12px #fff717;
  left: 25px;
  bottom: -2px;
  height: 40px;
  width: 40px;
  transition: .4s;
  border-radius: 50%;
  animation: firefly 1.5s infinite;
  /* Apply the animation */
}


input:checked+.slider {
  background-color: #69665c;
}

input:checked+.slider:before {
  transform: translateX(26px);
}

.loadQuiz {
  border: 1px solid blue;
  background-color: #99ddff;
  width: 170px;
  height: 30px;
  padding: 5px;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 10px;
  display: block;
}

.questionsBox {
  margin-bottom: 20px;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.questionNumber {
  font-weight: bold;
  display: block;
  font-size: 24px;
  margin-bottom: 10px;
}

.question {
  display: block;
  font-size: 27px;
  margin-bottom: 10px;
}

.optionBox {
  margin-bottom: 15px;
}

.optionBox button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: white;
  /* No background */
  border: 2px solid #0d64d6;
  /* Border color */
  border-radius: 7px;
  /* Rounded corners */
  font-size: 22px;
  /* Font size */
  color: #0d64d6;
  /* Text color */
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.optionBox button:hover {
  background-color: white;
  color: black;
  /* Change text color on hover */
}

.correctAnswer {
  display: none;
  padding: 10px;
  background-color: #d1fae5;
  color: #065f46;
  border: 1px solid #065f46;
  border-radius: 5px;
}

.navigation {
  position: fixed;
  bottom: 20px;
  left: 20px;
  right: 20px;
  display: flex;
  justify-content: space-between;
}

.navigation button {
  flex: 1;
  /* Equal width for both buttons */
  margin: 0 5px;
  /* Space between buttons */
  padding: 10px 0;
  background-color: #1e3a8a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.navigation button:hover {
  background-color: #1d2e5a;
}

#timer {
  font-size: 20px;
  margin-top: 10px;
}

#scoreBoard {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#jump {
  display: flex;
  justify-content: center;
  flex-wrap: no-wrap;
  width: 150px;
  margin: auto;
  padding: 5px;
}


#jumpTo,
#jumpButton {
  margin: 0 5px;
  /* Space between buttons */
  padding: 10px 0;
  background-color: #99ddff;
  text-align: center;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  font-size: 18px;
}

#jumpTo {
  width: 85px;
  color: black;
}


#jumpButton {
  width: 45px;
  background-color: #1A8CD8;
}

#fileInputbox {

  display: flex;
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  /* Adjust based on header height */
}

input[type="file"] {
  text-align: center;

  width: 100px;

}

input[type="file"]::-webkit-file-upload-button {
  display: block;
  background-color: #4CAF50;
  /* Match background color */
  color: white;
  /* Text color */
  border: none;
  /* No border */
  border-radius: 5px;
  /* Rounded corners */
  padding: 10px 15px;
  /* Match padding */
  cursor: pointer;
  margin: 8px 0;
}

.score {
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-size: 18px;
}

.correct {
  background-color: #7affa9;
  /* Light green */
  color: darkgreen;
}

.qzSel {
  text-decoration: none;
  border-radius: 8px;
  color: rgb(0, 88, 15);
  font-weight: 600;
  border: 2px solid;
  padding: 8px;
  background: linear-gradient(45deg, rgb(159, 207, 159), rgb(251, 142, 255));
  border-top-color: #d169d1;
  border-bottom-color: #53bf53;
  border-left-color: #6bbb6b;
  border-right-color: #fd5cfd;
}

.incorrect {
  background-color: orangered;
  /* Red */
  color: darkred;
}

@keyframes firefly {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  50% {
    opacity: 0.5;
    transform: translateY(-5px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#fullScreenBox {
  /*  */
  position: absolute;
  /* opacity: 0.4; */
  top: 0;
  width: 100%;
  z-index: 12;

}

.fullScreen {
  box-shadow: 0px 0px 10px rgb(109, 143, 255);
  display: flex;
  gap: 18px;
  font-weight: 700;
  margin: auto;
  width: fit-content;
  padding: 2px 32px;
  border-radius: 0px 0px 35px 35px;
  justify-content: space-around;
  align-items: center;
  backdrop-filter: blur(4px);
  background-color: rgba(255, 255, 255, 0.562);
  color: rgb(1, 30, 92);
}

.fullScreenBtn {
  background-color: rgba(38, 51, 44, 0.603);
  color: rgb(255, 255, 255);
  padding: 2px 6px;
  border-radius: 45px;
  cursor: pointer;
  border: 1px solid rgb(23, 56, 37);
}